.tableExterior{
  display: flex;
  flex-direction: row;
}

.createTableForm{
  margin-bottom: 25px;
  margin-top: 25px;
}
.createTableInput{
    margin-right: 10px;
    width: 55vw;
    padding-left: 10px;
}
.addTableColumn{
  border: none;
  height: 30px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
